body{
    font-family: "plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* //Navbar */
 .navbar{
    height: 5rem;
    background-color: white;
 }
 .fa-airbnb{
    font-size: 2rem;
    color: #fe424d;
    font-weight:bolder !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .nav-link{
    color: #222222 !important;
 }

/* //Footer */

 .f-info-links a{
     text-decoration: none;
     color: #222222;
 }

.f-info-links a :hover{
     text-decoration: underline;
 }

.f-in{
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
}

 .f-info-socials,.f-info-links,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1rem;
    margin-right: 1rem;
}
/* //Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
  
}
.card-img-top{
 border-radius: 1rem !important;
 width: 100% !important;
 object-fit: cover !important;

}
.card-body {
  padding: 0 !important;
}
.card-text  p {
  font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
/*Card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
 opacity: 0.2;
 background-color: white;
}
.add-btn{
   background-color:#fe424d !important ;
   border: none !important;
} 
/* show page */
.show-img{
    height: 40vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}
.mb-3 .originalImageUrl{
    height: 100px;
    weight: 300px;
}

/* Map */
#map{
      height: 400px;
      width: 100%;
      border: 2px solid #ccc;
}

.navbar-nav .airbnb {
    font-size: 1.5rem;
    color: #fe424d !important;
    font-weight:bolder;
}
